body {
    background-image: linear-gradient(to right, rgb(0, 38, 95) 30%, rgb(68, 68, 0) 100%);
}

.container {
    height: 350px;
    display: grid;
    grid-template-areas: "head head head head";
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
    justify-content: center;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

#display {
    grid-area: head;
    background-color: rgb(91, 131, 91);
    font-size: 20px;
    padding: 5px;
}

.container > button:hover {
    background-color: #121;
    color: white;
    border: none;
}